/*
!/.config
/.config/*

# Fish shell configuration files
# https://fishshell.com
!/.config/fish/
/.config/fish/conf.d/*
/.config/fish/fish_*
/.config/fish/completions/*.fish
/.config/fish/functions/*.fish

# Neovim configuration files except for lazy-lock.json
# https://neovim.io
# https://github.com/folke/lazy.nvim
!/.config/nvim*
/.config/nvim*/lazy-lock.json
